@font-face {
    font-family: Vinque;
    src: url("./vinque.woff");
}

@font-face {
    font-family: Optima;
    src: url("./optima.woff");
}

@font-face {
    font-family: Optima;
    src: url("./optima_b.woff");
    font-weight: bold;
}